/* App.css */

/* Tắt icon mắt mặc định cho Chrome, Edge và Safari */
/* input[type='password']::-webkit-textfield-decoration-container {
    display: none;
} */

body {
    user-select: none;
}

/* ẩn scroll bar */

/* Thay đổi vị trí của thông báo */
.ant-message {
    top: auto !important;
    bottom: 50px; /* Hiển thị cách đáy 50px */
}

/* Animation xuất hiện từ dưới lên */
.ant-message-move-up {
    animation: move-up-in 0.3s ease-out forwards !important;
}

/* Animation biến mất từ trên xuống */
.ant-message-move-up-leave {
    animation: move-up-out 0.3s ease-out forwards !important;
}

.ant-message-move-up-leave-active {
    animation: move-up-out 0.3s ease-out forwards !important;
}

.appear-animation {
    animation: appear 0.5s ease-out forwards !important;
}

/* styles.css */
.react-tel-input .country-list .country.highlight {
    color: black;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
    background: transparent !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
    background-color: transparent !important;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Keyframes cho animation xuất hiện từ dưới lên */
@keyframes move-up-in {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.ant-message {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.ant-message-notice-wrapper {
    width: 95% !important;
}

.ant-message-notice-content {
    width: 100%;
}

/* Keyframes cho animation biến mất từ trên xuống */
@keyframes move-up-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.centered-tabs .ant-tabs-nav {
    position: sticky;
    top: 0;
    z-index: 9999;
    margin-bottom: 0;
    transform: translateY(-1px);
    background-color: white;
    /* background-color: ; */
}

.dark .centered-tabs .ant-tabs-nav {
    background-color: #334155 !important; /* Thay đổi theo màu của dark theme */
}

.dark .centered-tabs .ant-tabs-tab {
    color: white;
}

.dark .centered-tabs .ant-tabs-nav::before {
    border: none !important;
}

.centered-tabs .ant-tabs-nav-wrap {
    display: flex !important;
    justify-content: space-evenly; /* Căn giữa các tab */
    width: 100% !important;
}

.centered-tabs .ant-tabs-tab {
    flex: 1; /* Đảm bảo mỗi tab có cùng kích thước */
    justify-content: center;
}

.centered-tabs .ant-tabs-nav-list {
    flex: 1;
}

.swipeable-tabs {
    animation: swipe-tabs 0.3s ease-in-out forwards;
}

.dark-modal {
    background-color: #334155 !important;
    color: white !important;
}

.custom-context-menu {
    position: absolute;
    background-color: #333;
    color: white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 160px;
}

.menu-item {
    padding: 10px;
    border-bottom: 1px solid #555;
    cursor: pointer;
    text-align: left;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item:hover {
    background-color: #444;
}

.btn.heart {
    position: relative;
    height: 16px;
    width: 16px;
    background: none;
}

.btn.heart::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background: url('https://res.cloudinary.com/dctauty0m/image/upload/v1717745777/img_mcurix.png')
        no-repeat;
    background-size: cover;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.btn.heart.active::before {
    animation: animate 0.8s steps(28) 1 forwards;
    background-position: right;
}

.btn.heart.initial-active::before {
    background-position: right;
}

.dark-modal {
    background-color: #334155;
}

@keyframes animate {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

@keyframes swipe-tabs {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.spinner {
    animation: __spin 1s linear infinite;
}

@keyframes __spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* bookmark */
.ui-bookmark {
    --icon-size: 16px;
    --icon-secondary-color: rgb(173 184 193);
    --icon-hover-color: rgb(173 184 193);
    --icon-primary-color: gold;
    --icon-circle-border: 1px solid var(--icon-primary-color);
    --icon-circle-size: 35px;
    --icon-anmt-duration: 0.3s;
}

.ui-bookmark input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: none;
}

.ui-bookmark .bookmark {
    width: var(--icon-size);
    height: auto;
    fill: var(--icon-secondary-color);
    cursor: pointer;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
}

.bookmark::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-box-shadow: 0 30px 0 -4px var(--icon-primary-color),
        30px 0 0 -4px var(--icon-primary-color),
        0 -30px 0 -4px var(--icon-primary-color),
        -30px 0 0 -4px var(--icon-primary-color),
        -22px 22px 0 -4px var(--icon-primary-color),
        -22px -22px 0 -4px var(--icon-primary-color),
        22px -22px 0 -4px var(--icon-primary-color),
        22px 22px 0 -4px var(--icon-primary-color);
    box-shadow: 0 30px 0 -4px var(--icon-primary-color),
        30px 0 0 -4px var(--icon-primary-color),
        0 -30px 0 -4px var(--icon-primary-color),
        -30px 0 0 -4px var(--icon-primary-color),
        -22px 22px 0 -4px var(--icon-primary-color),
        -22px -22px 0 -4px var(--icon-primary-color),
        22px -22px 0 -4px var(--icon-primary-color),
        22px 22px 0 -4px var(--icon-primary-color);
    border-radius: 50%;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.bookmark::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: var(--icon-circle-border);
    opacity: 0;
}

.ui-bookmark:hover .bookmark {
    fill: var(--icon-hover-color);
}

.ui-bookmark.active .bookmark::after {
    -webkit-animation: circles var(--icon-anmt-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation: circles var(--icon-anmt-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -webkit-animation-delay: var(--icon-anmt-duration);
    animation-delay: var(--icon-anmt-duration);
}

.ui-bookmark.active .bookmark {
    fill: var(--icon-primary-color);
    -webkit-animation: bookmark var(--icon-anmt-duration) forwards;
    animation: bookmark var(--icon-anmt-duration) forwards;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.ui-bookmark.active .bookmark::before {
    -webkit-animation: circle var(--icon-anmt-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    animation: circle var(--icon-anmt-duration)
        cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    -webkit-animation-delay: var(--icon-anmt-duration);
    animation-delay: var(--icon-anmt-duration);
}

.ui-bookmark.init-active .bookmark {
    fill: var(--icon-primary-color); /* Giữ màu sắc trong trạng thái active */
    /* Không cần animation khi đã ở trạng thái init-active */
    transition: none; /* Hoặc có thể để lại nếu bạn muốn hiệu ứng chuyển tiếp khác */
}

.ui-bookmark.init-active .bookmark::after {
    /* Bỏ hiệu ứng animation vì đã hoàn thành */
    content: ''; /* Giữ content nếu cần */
    /* Nếu cần thêm các thuộc tính khác, bạn có thể thêm vào đây */
}

.ui-bookmark.init-active .bookmark::before {
    /* Bỏ hiệu ứng animation vì đã hoàn thành */
    content: ''; /* Giữ content nếu cần */
    /* Nếu cần thêm các thuộc tính khác, bạn có thể thêm vào đây */
}

@-webkit-keyframes bookmark {
    50% {
        -webkit-transform: scaleY(0.6);
        transform: scaleY(0.6);
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes bookmark {
    50% {
        -webkit-transform: scaleY(0.6);
        transform: scaleY(0.6);
    }

    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@-webkit-keyframes circle {
    from {
        width: 0;
        height: 0;
        opacity: 0;
    }

    90% {
        width: var(--icon-circle-size);
        height: var(--icon-circle-size);
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes circle {
    from {
        width: 0;
        height: 0;
        opacity: 0;
    }

    90% {
        width: var(--icon-circle-size);
        height: var(--icon-circle-size);
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes circles {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        opacity: 1;
    }

    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
}

@keyframes circles {
    from {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        opacity: 1;
    }

    to {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
        opacity: 0;
    }
}

/* From Uiverse.io by Shoh2008 */
.loader {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
}

.loader .circle1,
.loader .circle2,
.loader .circle3,
.loader .circle4,
.loader .circle5,
.loader .circle6,
.loader .circle7,
.loader .circle8,
.loader .circle9,
.loader .circle10 {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    border-radius: 50%;
    transform: translate(-50%, 0%);
}

.loader .circle1 {
    background: #ff5733;
    animation: push_401 1s infinite linear;
    animation-delay: 0s;
}

.loader .circle2 {
    background: #33ff57;
    animation: push_402 1s infinite linear;
    animation-delay: 0.2s;
}

.loader .circle3 {
    background: #3357ff;
    animation: push_403 1s infinite linear;
    animation-delay: 0.4s;
}

.loader .circle4 {
    background: #ff33a1;
    animation: push_404 1s infinite linear;
    animation-delay: 0.6s;
}

.loader .circle5 {
    background: #ffff33;
    animation: push_405 1s infinite linear;
    animation-delay: 0.8s;
}

.loader .circle6 {
    background: #33ffd7;
    animation: push_406 1s infinite linear;
    animation-delay: 1s;
}

.loader .circle7 {
    background: #ff9933;
    animation: push_407 1s infinite linear;
    animation-delay: 1.2s;
}

.loader .circle8 {
    background: #9933ff;
    animation: push_408 1s infinite linear;
    animation-delay: 1.4s;
}

.loader .circle9 {
    background: #33ff99;
    animation: push_409 1s infinite linear;
    animation-delay: 1.7s;
}

.loader .circle10 {
    background: #ffd700;
    animation: push_410 1s infinite linear;
    animation-delay: 1.9s;
}

@keyframes push_401 {
    0%,
    50% {
        transform: translate(-50%, 0%) scale(1);
    }
    100% {
        transform: translate(-50%, -70%) scale(0);
    }
}

@keyframes push_402 {
    0%,
    50% {
        transform: translate(-50%, 0%) scale(1);
    }
    100% {
        transform: translate(20%, 0%) scale(0);
    }
}

@keyframes push_403 {
    0%,
    50% {
        transform: translate(-50%, 0%) scale(1);
    }
    100% {
        transform: translate(-120%, -40%) scale(0);
    }
}

@keyframes push_404 {
    0%,
    50% {
        transform: translate(-50%, 0%) scale(1);
    }
    100% {
        transform: translate(30%, 50%) scale(0);
    }
}

@keyframes push_405 {
    0%,
    50% {
        transform: translate(-50%, 0%) scale(1);
    }
    100% {
        transform: translate(-100%, 60%) scale(0);
    }
}

@keyframes push_406 {
    0%,
    50% {
        transform: translate(-50%, 0%) scale(1);
    }
    100% {
        transform: translate(0%, 70%) scale(0);
    }
}
@keyframes push_407 {
    0%,
    50% {
        transform: translate(-50%, 0%) scale(1);
    }
    100% {
        transform: translate(-150%, -40%) scale(0);
    }
}
@keyframes push_408 {
    0%,
    50% {
        transform: translate(-50%, 0%) scale(1);
    }
    100% {
        transform: translate(-50%, 80%) scale(0);
    }
}
@keyframes push_409 {
    0%,
    50% {
        transform: translate(-50%, 0%) scale(1);
    }
    100% {
        transform: translate(10%, -60%) scale(0);
    }
}
@keyframes push_410 {
    0%,
    50% {
        transform: translate(-50%, 0%) scale(1);
    }
    100% {
        transform: translate(-70%, -70%) scale(0);
    }
}

.animation-surf-left {
    animation: surf-left 0.5s ease-out;
}

.animation-flex {
    animation: animation-flex 0.5s ease-out;
}

@keyframes surf-left {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes animation-flex {
    from {
        flex: 0;
        opacity: 0;
    }
    to {
        flex: 1;
        opacity: 1;
    }
}
