/* App.css */

/* Thay đổi vị trí của thông báo */
.ant-message {
    top: auto !important;
    bottom: 50px; /* Hiển thị cách đáy 50px */
}

/* Animation xuất hiện từ dưới lên */
.ant-message-move-up {
    animation: move-up-in 0.3s ease-out forwards !important;
}

/* Animation biến mất từ trên xuống */
.ant-message-move-up-leave {
    animation: move-up-out 0.3s ease-out forwards !important;
}

.ant-message-move-up-leave-active {
    animation: move-up-out 0.3s ease-out forwards !important;
}

/* Keyframes cho animation xuất hiện từ dưới lên */
@keyframes move-up-in {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.ant-message {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

.ant-message-notice-wrapper {
    width: 95% !important;
}

.ant-message-notice-content {
    width: 100%;
}

/* Keyframes cho animation biến mất từ trên xuống */
@keyframes move-up-out {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.centered-tabs .ant-tabs-nav {
    position: sticky;
    top: 0;
    z-index: 99999999;
    margin-bottom: 0;
    transform: translateY(-1px);
    background-color: white;
    /* background-color: ; */
}

.dark .centered-tabs .ant-tabs-nav {
    background-color: #334155 !important; /* Thay đổi theo màu của dark theme */
}

.dark .centered-tabs .ant-tabs-tab {
    color: white;
}

.dark .centered-tabs .ant-tabs-nav::before {
    border: none !important;
}

.centered-tabs .ant-tabs-nav-wrap {
    display: flex !important;
    justify-content: space-evenly; /* Căn giữa các tab */
    width: 100% !important;
}

.centered-tabs .ant-tabs-tab {
    flex: 1; /* Đảm bảo mỗi tab có cùng kích thước */
    justify-content: center;
}

.centered-tabs .ant-tabs-nav-list {
    flex: 1;
}

.swipeable-tabs {
    animation: swipe-tabs 0.3s ease-in-out forwards;
}

.dark-modal {
    background-color: #334155 !important;
    color: white !important;
}

.custom-context-menu {
    position: absolute;
    background-color: #333;
    color: white;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    width: 160px;
}

.menu-item {
    padding: 10px;
    border-bottom: 1px solid #555;
    cursor: pointer;
    text-align: left;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item:hover {
    background-color: #444;
}

.btn.heart {
    position: relative;
    height: 16px;
    width: 16px;
    background: none;
}

.btn.heart::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    background: url('https://res.cloudinary.com/dctauty0m/image/upload/v1717745777/img_mcurix.png')
        no-repeat;
    background-size: cover;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.btn.heart.active::before {
    animation: animate 0.8s steps(28) 1 forwards;
    background-position: right;
}

.btn.heart.initial-active::before {
    background-position: right;
}

@keyframes animate {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

@keyframes swipe-tabs {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.spinner {
    animation: __spin 1s linear infinite;
}

@keyframes __spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
